
<div class="button-container">
    <button mat-icon-button [routerLink]="['/']" aria-label="חזרה לדף הבית">
        <mat-icon color="primary">home</mat-icon> <!-- אייקון הבית -->
    </button>
<button mat-raised-button class="bt" color="success" [routerLink]="['/Login']">
    כניסה
</button>
<button mat-raised-button class="bt" color="success" [routerLink]="['/Register']">
    הרשמה
</button>
<button mat-raised-button class="bt" color="success" [routerLink]="['/GetCourses']">
    הקורסים שלנו
</button>
<button mat-raised-button class="bt" color="success" [routerLink]="['/NewCourses']">
    הוספת קורס
</button>
</div>
<router-outlet></router-outlet>
