<h2>רשימת שעורים</h2>
<span class="icon add-lesson-icon" (click)="AddLesson()" matTooltip="הוסף שיעור">
    <mat-icon color="primary" class="large-icon">add_circle_outline</mat-icon>
</span>

@if(lessons.length > 0) {
    <mat-list class="card-grid">
        @for(item of lessons; track item.title) {
            <mat-card class="grid-item">
                <mat-card-header>
                    <mat-card-title>{{ item.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{ item.content }} - תוכן השיעור</p>
                </mat-card-content>
                <div class="icon-buttons">
                    @if(role === "teacher") {
                        <span class="icon" (click)="delete(item.id)" matTooltip="מחק שיעור">
                            <mat-icon color="primary">delete</mat-icon>
                        </span>
                        <span class="icon" (click)="editCourse(item)" matTooltip="ערוך שיעור">
                            <mat-icon color="primary">edit</mat-icon>
                        </span>
                    }
                </div> 
            </mat-card> 
            <mat-divider></mat-divider>
        }
    </mat-list>
    
}
